<nav class="p-6 max-w-xl mx-auto flex flex-column flex-wrap">
    {% if not page.isFirst %}
        <div class="w-full {{ page.isLast ? '' : 'md:w-1/2' }} ">
            <a href="{{ page.nextSibling.url }}">&laquo; {{ page.nextSibling.title }}</a>
        </div>
    {% endif %}
    {% if not page.isLast %}
        <div class="w-full {{ page.isFirst ? '' : 'md:w-1/2' }} text-right">
            <a href="{{ page.prevSibling.url }}">{{ page.prevSibling.title }} &raquo;</a>
        </div>
    {% endif %}
</nav>