{% extends 'partials/base.html.twig' %}

{% block content %}
<div class="flex flex-row flex-wrap justify-center">
    {% for book in page.collection %}
    <div class="flex flex-col max-w-xs   m-3 rounded shadow border-gray-800">
        <a href='{{ book.url }}'>
            <img src="{{ book.media[book.header.image].cropZoom(300,400).url() }}" class="w-full rounded-t">
        </a>
        <div class="p-3">
            <a href='{{ book.url }}'>
                <h1 class="font-bold">{{ book.title }}</h1>
                <h2 class="font-light">{{ book.header.author }}</h2>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
